.hero.svelte-1v819nx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px 100px;
    background-image: var(--bg-overlay-gradient);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.hero.svelte-1v819nx h1:where(.svelte-1v819nx) {
    font-size: 50px;
    font-family: var(--title-font-family);
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 2px;
    background: var(--title-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.hero.svelte-1v819nx p:where(.svelte-1v819nx) {
    font-size: 24px;
    margin: 0 0 26px
}

.hero.svelte-1v819nx .cta:where(.svelte-1v819nx) {
    position: relative;
    white-space: nowrap;
    display: flex;
    gap: 12px;
    margin-bottom: 48px;
    padding: 12px 20px;
    background: var(--cta-background-gradient);
    --border-radius: 12px;
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--button-text-color);
    font-weight: 600
}

.hero.svelte-1v819nx .cta:where(.svelte-1v819nx):after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 2px #fff inset;
    mix-blend-mode: overlay;
    z-index: 1
}

.hero.svelte-1v819nx .cta:where(.svelte-1v819nx):hover {
    background: var(--cta-background-gradient--hover)
}

.hero.svelte-1v819nx .discord:where(.svelte-1v819nx) {
    position: relative;
    width: min-content;
    height: min-content;
    --border-radius: 12px
}

.hero.svelte-1v819nx .discord:where(.svelte-1v819nx) img:where(.svelte-1v819nx) {
    display: block;
    width: 70vw;
    border-radius: var(--border-radius)
}

.hero.svelte-1v819nx .discord:where(.svelte-1v819nx):after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 2px #fff inset;
    background: #ffffff1a;
    mix-blend-mode: overlay
}

.section.svelte-1v819nx {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 36px clamp(100px,10vw,200px);
    background: var(--section-bg-color)
}

.section.svelte-1v819nx h2:where(.svelte-1v819nx) {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2px
}

.section.svelte-1v819nx p:where(.svelte-1v819nx) {
    font-size: 20px;
    margin: 0 0 24px
}

.section.svelte-1v819nx .button:where(.svelte-1v819nx) {
    position: relative;
    padding: 12px 20px;
    --border-radius: 12px;
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--button-text-color);
    background: var(--button-bg-color);
    box-shadow: 0 0 0 2px #ffffff40 inset;
    font-weight: 600;
    font-size: 16px;
    width: max-content;
    margin-bottom: 8px
}

@media (max-width: 768px) {
    .hero.svelte-1v819nx {
        text-align:center;
        padding: 10px 20px 48px
    }

    .discord.svelte-1v819nx img:where(.svelte-1v819nx) {
        width: calc(100vw - 40px)!important
    }

    .section.svelte-1v819nx {
        padding: 24px 20px
    }
}
